@model List<Character>
@{
    ViewData["Title"] = "RPGCoolGuy";
}

<div class="mt-5 mb-5">
    <a asp-action="Add" class="btn btn-info">
        👨 Add Character
    </a>
    <a asp-action="Fight" class="btn btn-danger">
        ⚔️ Fight
    </a>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Attack</th>
                <th>Defense</th>
                <th>HP</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Character c in Model)
            {
                <tr>
                    <td>@c.Name</td>
                    <td>@c.Attack</td>
                    <td>@c.Defense</td>
                    <td>@c.HP</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@c.Id" asp-route-slug="@c.Slug" class="btn btn-warning">
                            ✏ Edit
                        </a>
                    </td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@c.Id">
                            <button type="submit" class="btn btn-danger">
                                🗑 Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
